


<br>
<div *ngIf="product$ | async as product" class="jumbotron" style="width: 65%;margin: auto">
    <h1>Products Details</h1>
    <p>Product  id:{{product.id}}</p>
    <p>Product  userId:{{product.userId}}</p>
    <p>Product information name:{{product.title}}</p>
    <p>Product information content:{{product.body}}</p>
    <a class="btn btn-primary btn-lg" style="margin: 10px" routerLink="" role="button">accueil</a>
    <a class="btn btn-primary btn-lg" routerLink="/products" role="button">Go To List</a>
    <a class="btn btn-primary btn-lg" style="margin: 10px" routerLink="/product" [queryParams]="{userId: product.userId}" role="button">comments</a>
    
    <app-comment></app-comment>  
  </div>
 

